#page {
    width: 1280px;
    margin: auto;
    background-color: rgba(77, 155, 240, 0.24);
}
#footer{
    width: 1280px;
    margin: auto;
    height: 100px;
    position: relative;
}
#footerDiv{
    width: 80px;
    position: absolute;
    bottom: -20px;
    left: 600px;
}


#topMenu {
    display: table;
    width: 75%;
    margin: auto;
    border-spacing: 10px 10px;
}

.menuButton{
    text-align: center;
    display: table-cell;
    padding: 10px;
}

#logoDiv {
    width: 25%;
    padding-right: 90px;
    padding-top: 10px;
}

#phoneDiv {
    text-align: center;
    width: 35%;
    padding-right: 20px;
}

#languageDiv {
    text-align: center;
    width: 10%;
}

#userDiv {

    width: 25%;
    padding-left: 25px;
}

#logoDiv, #phoneDiv, #languageDiv, #userDiv{
    vertical-align: middle;
    display: table-cell;
}
#topContainer{
    margin: 0 auto;
    display: table;
}

.centeredDiv{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}


.form{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.table{
    display: table-cell;
    vertical-align: top;
    padding: 10px;
}
.buttonInsideTable{
    margin-left: auto;
    margin-right: auto;
}
.label{
    margin: 5px;
}
.inputField{
    margin: 5px;
    width: 10em;
}
.centeredMsg{
    text-align: center;
}
#content{
    width: 95%;
    margin: 0 auto;

}
.centeredTable td {
    text-align:center;
}
.table td {
    text-align:center;
}
.inputSpinnerField{
    margin: 5px;
}
.inputAddPayment{
    width: 100%;
}